* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  transition: 0.3s all;
}

/* top */
.top {
  position: fixed;
  right: 50px;
  bottom: 20px;
  z-index: 10;
  cursor: pointer;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 3px solid #8361b8;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffb3;
  transition: 0.3s all;
  opacity: 0;
  visibility: hidden;
}
.top-show {
  opacity: 1;
  visibility: visible;
}

.top:hover {
  background-color: #ffffff;
}
.top-icon {
  width: 50px;
}
/* top */
/* general */

button {
  cursor: pointer;
}
.centre {
  display: flex;
  justify-content: center;
}
.indent {
  margin-bottom: 200px;
}
.title {
  font-weight: 700;
  font-size: 70px;
  color: #000000;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
p {
  line-height: 40px;
  color: #ffffff;
}
/* general */

/* header */
.header-container {
  width: 1400px;
  margin: 0 auto;
}
header {
  width: 100%;
  background-color: black;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  height: 70px;
  border-radius: 50px;
}
header .header-content {
  margin-left: 100px;
  display: flex;
  align-items: center;
}
.logo-block {
  position: relative;
  top: 10px;
  left: 0;
}
/* logo */
.header-content .logo-block .left-eye {
  position: absolute;
  top: 30px;
  left: 19px;
  width: 13px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  transition: 3s all;
  animation-name: left;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.header-content .logo-block .right-eye {
  position: absolute;
  top: 30px;
  right: 19px;

  width: 13px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  transition: 3s all;
  animation-name: right;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.header-content:hover .logo-block .right-eye {
  animation-play-state: paused;
}
.header-content:hover .logo-block .left-eye {
  animation-play-state: paused;
}
@keyframes left {
  0% {
    left: 15px;
  }

  100% {
    left: 22px;
  }
}
@keyframes right {
  0% {
    right: 22px;
  }

  100% {
    right: 15px;
  }
}

/* logo */

.logo {
  width: 100px;
}
nav {
  margin-top: -23px;
  margin-left: 100px;
}
.nav-link {
  position: relative;
  color: #ffffff;
  margin-right: 70px;
}
.nav-link::before {
  position: absolute;
  content: "";
  width: 0;
  top: 41px;
  left: 0px;
  height: 4px;
  border-radius: 10px;
  background-color: #ffffff;
  transition: 0.3s all;
}
.nav-link:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  top: 41px;
  left: 0px;
  height: 4px;
  border-radius: 10px;
  background-color: #ffffff;
}
/* home-page */
.title-block {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 230px;
  width: 1200px;
  z-index: 1;
}
.title-block .web-title {
  position: absolute;
  left: 0;
}
.title-block .front-title {
  position: absolute;
  right: 0;
}
.front-title {
  position: absolute;
  right: 0;
  top: 110px;
}
.main-img-block {
  position: relative;
  top: 130px;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
  height: 350px;
  background: #ab7ff1;
  border-radius: 80px;
}
.main-img-block .elips-main {
  position: absolute;
  top: 80px;
  right: 0px;
}
.main-img-block .fon-block {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 272px;
  height: 48px;
  background: #8361b8;
  border-radius: 60px;
}
.main-img-block .main-img {
  position: absolute;
  top: -50px;
  left: 150px;
  z-index: 1;
  animation-name: img;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes img {
  0% {
    top: -40px;
  }

  100% {
    top: -60px;
  }
}
/* about section */
.about {
  margin-top: 300px;
}
.about-block {
  width: 800px;
  position: relative;
  background: #000000;
  border-radius: 20px;
}
.about-block .about-block-content {
  padding: 70px 100px;
}
.title-about {
  color: #ffffff;
  font-weight: 500;
  font-size: 50px;
}
.p-about {
  text-align: center;
}
.about-block .about-fon {
  position: absolute;
  right: 20px;
  bottom: 0;
}
.about-block .code-photo-fon {
  position: absolute;
  top: 0;
  left: -270px;
}
.about-block .figma-photo-fon {
  position: absolute;
  top: 50px;
  right: -260px;
}
/* skills */
.title-block-skills {
  background: #ab7ff1;
  padding: 5px 100px;
  width: 300px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.skills-block {
  margin-top: 130px;
  display: flex;
  height: 450px;
  justify-content: space-between;
}
.tilte-skills {
  color: #ffffff;
  font-weight: 700;
  font-size: 80px;
}
.skills-block .right-fon {
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.skills-block .right-web-fon {
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.skills-block .left-block {
  width: 100%;
  height: 100%;
  background: #000000;
}
.left-block .left-block-content {
  padding: 15px 50px;
}
.skills-subtitle {
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
}

.skill-cards {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.card-skill {
  width: 130px;

  background: #ab7ff1;
  border-radius: 20px;
}
.card-skill .card-icon {
  transition: 0.3s all;
  width: 90px;
}
.card-skill:hover .card-icon {
  transform: scale(1.1);
  width: 90px;
}
.card-title {
  color: #ffffff;
  font-weight: 400;
}
.right-block {
  position: relative;
}

.right-block .skills-btn {
  cursor: pointer;
  position: absolute;
  width: 400px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  border: none;
  background: #000000;
  border-radius: 20px;
  transition: 0.3s all;
}
.right-block .skills-btn:hover {
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.37);
}
/* web */
.right-block-web {
  position: relative;
}

.right-block-web .skills-btn {
  cursor: pointer;
  position: absolute;
  width: 400px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  border: none;
  background: #000000;
  border-radius: 20px;
  transition: 0.3s all;
}
.right-block-web .skills-btn:hover {
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.37);
}

/* web */

/* adaptiv */
.right-block-adaptiv {
  display: none;
  position: relative;
}
.right-block-adaptiv .skills-btn {
  cursor: pointer;
  position: absolute;
  width: 400px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  border: none;
  background: #000000;
  border-radius: 20px;
  transition: 0.3s all;
}
.right-block-adaptiv .skills-btn:hover {
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.37);
}
/* adaptiv */
.skill-cards-designer {
  width: 300px;
}
/* portfolio */
.portfolio-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.portfolio-block {
  position: relative;
  width: 100%;

  height: 350px;
  transition: 0.3s all;
}
.portfolio-block .btn-block-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  display: flex;
  left: 50%;
}
.portfolio-block .portfolio-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.portfolio-block .portfolio-fon-block {
  filter: blur(0px);
  width: 100%;
  height: 100%;
}
.portfolio-block:hover .portfolio-fon-block {
  filter: blur(3px);
  width: 100%;
  height: 100%;
}
.portfolio-block .btn-potfolio-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.git-btn {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  width: 200px;
  height: 35px;
  border-radius: 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  margin-right: 20px;
  transition: 0.3s all;
}
.git-btn:hover {
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.37);
}
.figma-btn:hover {
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.37);
}
.figma-btn {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  width: 200px;
  height: 35px;
  border-radius: 20px;
  background-color: #ab7ff1;
  color: #ffffff;
  border: none;
  transition: 0.3s all;
}

/* btn hiden */

.git-btn-hidden {
  transform: translateX(-100%);
  width: 200px;
  height: 35px;
  border-radius: 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  margin-right: 20px;
  transition: 0.3s all;
  margin-bottom: 10px;
}
.git-btn-hidden:hover {
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.37);
}
.figma-btn-hidden:hover {
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.37);
}
.figma-btn-hidden {
  transform: translateX(-100%);
  width: 200px;
  height: 35px;
  border-radius: 20px;
  background-color: #ab7ff1;
  color: #ffffff;
  border: none;
  transition: 0.3s all;
}

/* btn hidden */
.portfolio-block:hover .figma-btn {
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
}
.portfolio-block:hover .git-btn {
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
}
.load-btn {
  margin-top: 70px;
  width: 200px;
  height: 35px;
  border-radius: 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  margin-right: 20px;
  transition: 0.3s all;
}
.load-btn:hover {
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.37);
}
/* contact */
.contact-block {
  position: relative;
  width: 100%;
  background: #ab7ff1;
  border-radius: 50px;
}
.contact-block .contact-img-fon {
  position: absolute;
  top: -60px;
  left: 100px;
  width: 550px;
}
.contact-block .elips-main {
  right: 0;
  top: 70px;
  position: absolute;
}
.contact-block .contact-fon-block {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1000px;
  height: 125px;
  background-color: #8361b8;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.contact-box {
  padding: 70px;
}
.social-title {
  font-size: 40px;
  color: #ffffff;
  font-weight: 400;
}
.elips-contact {
  width: 70px;
  height: 70px;
  transition: 0.3s all;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s all;
}
.elips-contact:hover {
  background: #ffffff;
}
.social-block {
  width: 330px;
  margin-left: 60px;
}
.social-block .line {
  width: 100%;
  background: #000000;
  height: 4px;
}
.social-icons {
  display: flex;
  justify-content: space-between;
}
.social-contact-icon {
  width: 50px;
}
.social-contact-icons {
  margin-top: 20px;
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: space-between;
}
.contact-cards {
  position: relative;
  z-index: 3;
  display: flex;
  margin-top: 50px;
}
.contact-card {
  max-width: 270px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  height: 40px;
  margin-right: 40px;
  transition: 0.3s all;
}
.contact-card:hover {
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}
i {
  color: #000000;
  margin-right: 5px;
}
.contact-link {
  color: #000000;
}
